@font-face {
  font-family: Crimson-Roman;
  src: url(fonts/Crimson-Roman.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Crimson-Roman;
}
h1.page-title {
  max-width: 600px;
  color: darkgreen;
  background-color: black;
  text-align: center;
  border: 2px solid darkgreen;
  border-radius: 5px;
  margin: 10px auto;
}
canvas#gameCanvas {
  display: block;
  margin: auto;
  background-color:black;
  border: 5px solid darkgreen;
  border-radius: 5px;
}
